<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 宽度为设备宽度，初始缩放比例为一，用户最小最大缩放比例为一，不允许用户手机缩放 -->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<!-- 禁止iOS设备将数字作为拨号连接、邮箱自动发送，点击地图跳转 -->
	<meta name="format-detection" content="telephone=no,email=no,adress=no">
	<!-- 强制全屏显示 -->
	<meta name="full-screen" content="yes">
	<!-- 开启对webapp的支持 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- webapp应用下状态条(平模顶部条)的颜色，默认值为default(白色或黑色半透明) -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- 禁止浏览器从缓存中访问页面内容 -->
	<meta http-epuiv="Pragma" content="no-cache">
	<title>Document</title>
	<link rel="stylesheet" href="../css/frist.css">
</head>
<body>
	<div class="container">
		<div class="con">
			<div class="iscroll">
			<header>
				<div class="header1">
					<input type="text" placeholder="请输入产品关键字，如品牌、类型等"/>
					<span class="search">搜索</span>
				</div>
			</header>
			<section>
				
				<div class="swiper-container" id="banner">
					<ul class="swiper-wrapper">
						<li class="swiper-slide"><img src="../images/banner.png" alt=""></li>
						<li class="swiper-slide"><img src="../images/banner.png" alt=""></li>
						<li class="swiper-slide"><img src="../images/banner.png" alt=""></li>						
					</ul>
					<div class="swiper-pagination">					
					</div>
				</div>
				<div class="banner1">
					<div class="banner1_one">
						<img src="../images/chuowo.png"/>
						<img src="../images/shouzhi.png" class="shouzhi"/>
					</div>
					<div class="banner1_two">
						<span class="youhuiquan">优惠券</span>
						<span class="qian">￥<em>500</em></span>
						<span class="man">满3000元使用</span>						
					</div>										
				</div>
				<div class="lianjie">
					<a href=""><dl><dt><img src="../images/weixiubaoyang.png"/></dt><dd>维修保养</dd></dl></a>	
					<a href=""><dl><dt><img src="../images/chezaidianqi.png"/></dt><dd>车载电器</dd></dl></a>	
					<a href=""><dl><dt><img src="../images/meirongqingxi.png"/></dt><dd>美容清晰</dd></dl></a>	
					<a href=""><dl><dt><img src="../images/jiaodianzuodian.png"/></dt><dd>脚垫坐垫</dd></dl></a>	
					<a href=""><dl><dt><img src="../images/buyijp.png"/></dt><dd>布艺精品</dd></dl></a>	
					<a href=""><dl><dt><img src="../images/weixiubaoyang.png"/></dt><dd>安全自驾</dd></dl></a>	
					<a href=""><dl><dt><img src="../images/weixiubaoyang.png"/></dt><dd>香水挂件</dd></dl></a>	
					<a href=""><dl><dt><img src="../images/weixiubaoyang.png"/></dt><dd>其它杂项</dd></dl></a>	
				</div>
				<div class="tuijian">
					<h2>精品推荐</h2>
					<div class="shangping">
						<div class="shangping_one">
							<dl>
								<dt><img src="../images/you1.png"/><span class="zpbz">正品保障</span></dt>
								<dd class="jianjie">美国拉力 顶级全合成油SN 0W4...</dd>
								<dd class="dd2"><span class="jiage">¥1,020.00</span> <span class="chushou">共出售<em>0</em>笔</span></dd>
								<dd><span class="yuanjia">¥1020元<em></em></span><span class="jiaru">加入购物车</span></dd>						
							</dl>
						</div>
						<div class="shangping_one">
							<dl>
								<dt><img src="../images/you2.png"/><span class="zpbz">正品保障</span></dt>
								<dd class="jianjie">美国拉力 顶级全合成油SN 0W4...</dd>
								<dd class="dd2"><span class="jiage">¥1,020.00</span> <span class="chushou">共出售<em>0</em>笔</span></dd>
								<dd><span class="yuanjia">¥1020元 <em></em></span><span class="jiaru">加入购物车</span></dd>						
							</dl>
						</div>
						<div class="shangping_one">
							<dl>
								<dt><img src="../images/you3.png"/><span class="zpbz">正品保障</span></dt>
								<dd class="jianjie">美国拉力 顶级全合成油SN 0W4...</dd>
								<dd class="dd2"><span class="jiage">¥1,020.00</span> <span class="chushou">共出售<em>0</em>笔</span></dd>
								<dd><span class="yuanjia">¥1020元 <em></em></span><span class="jiaru">加入购物车</span></dd>						
							</dl>
						</div>
						<div class="shangping_one">
							<dl>
								<dt><img src="../images/you3.png"/><span class="zpbz">正品保障</span></dt>
								<dd class="jianjie">美国拉力 顶级全合成油SN 0W4...</dd>
								<dd class="dd2"><span class="jiage">¥1,020.00</span> <span class="chushou">共出售<em>0</em>笔</span></dd>
								<dd><span class="yuanjia">¥1020元 <em></em></span><span class="jiaru">加入购物车</span></dd>						
							</dl>
						</div>
						
					</div>
				</div>
				<div class="xihuan">
					<h2>猜你喜欢</h2>
								
							<dl>
								<dt><img src="../images/H-1005.png"/></dt>
								<dd class="jianjie1">美国拉力 顶级全合成油SN 0W4...</dd>
								<dd class="dd2"><span class="jiage">¥1,020.00</span> <span class="chushou">共出售<em>0</em>笔</span></dd>
								<dd><span class="yuanjia">¥1020元 <em></em></span><span class="jiaru">加入购物车</span></dd>						
							</dl>											
							<dl>
								<dt><img src="../images/H-1005.png"/></dt>
								<dd class="jianjie1">美国拉力 顶级全合成油SN 0W4...</dd>
								<dd class="dd2"><span class="jiage">¥1,020.00</span> <span class="chushou">共出售<em>0</em>笔</span></dd>
								<dd><span class="yuanjia">¥1020元 <em></em></span><span class="jiaru">加入购物车</span></dd>						
							</dl>					
							<dl>
								<dt><img src="../images/H-1005.png"/></dt>
								<dd class="jianjie1">美国拉力 顶级全合成油SN 0W4...</dd>
								<dd class="dd2"><span class="jiage">¥1,020.00</span> <span class="chushou">共出售<em>0</em>笔</span></dd>
								<dd><span class="yuanjia">¥1020元<em></em></span><span class="jiaru">加入购物车</span></dd>						
							</dl>			
				
				</div>
			</section>
		</div>
		</div>
			<footer>
				<a href="" class="backg">
					<dl >
						<dt><img src="../images/shouyefang.png"/></dt>
						<dd>首页</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt><img src="../images/baobao.png"/></dt>
						<dd>产品分类</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt><img src="../images/gouwuche.png"/></dt>
						<dd>购物车</dd>
					</dl>
				</a>
				<a href="">
					<dl>
						<dt><img src="../images/renwu.png"/></dt>
						<dd>会员中心</dd>
					</dl>
				</a>
			</footer>
	</div>
</body>
<script src="../js/setfontsize.js"></script>
<script src="../js/zepto.min.js"></script>
<script src="../js/idangerous.swiper.min.js"></script>
<script src="../js/js.js"></script>
<script>
		
		new Swiper(".swiper-container",{
		loop:true,
		paginationClickable: true,
		autoplay:1000,
		autoplayDisableOnInteraction:false,
		pagination:".swiper-pagination"
		})
	</script>
</html>